@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@400;500;600;700;800;900&family=Urbanist:wght@300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --black-color: #0c0c0c;
  --secondary-color: #b79632;
  --bg-color: #1b1b1b;
  --main-text-color: #fff;
  --sec-text-color: #9b978c;
  --font-family: "Kanit", sans-serif;
  --sec-font-family: "Urbanist", sans-serif;
  --transition: 0.4s ease;
  --secondary-bg-color: #161515;
}
body {
  font-family: var(--sec-font-family);
  background-color: #1b1b1b !important;
}
a {
  text-decoration: none;
}
.navbar {
  background-color: var(--black-color);
  height: 60px;
  line-height: 50px;
  z-index: 100;
}
.navbar span {
  font-size: 12px;
  margin-top: 20px;
}
.navbar-toggler {
  margin-top: -1rem;
  background-color: var(--secondary-color) !important;
}
.flag-img {
  width: 30px;
  height: 25px;
  border-radius: 20px;
  overflow: hidden;
  margin-top: -50px;
}
.flag-content {
  min-width: 100px;
}
.navbar li a:hover,
.navbar a.active {
  background-color: var(--secondary-color);
}
nav a img {
  width: 100px;
}
.first-section {
  background-color: var(--bg-color);
}
.navbar-collapse {
  transition: none !important;
}
/* collapse from left to right */
@keyframes slideInLeft {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}
@media screen and (max-width: 991px) {
  .key {
    background-color: var(--black-color);
    animation: slideInLeft 0.8s ease-in-out 0s 1;
  }
  .navbar-brand .img-fluid {
    margin-top: -20px;
  }
  ul li {
    display: inline-block;
    text-align: center;
    margin: 0 auto;
  }
}

section h1,
section h3,
footer h4 {
  color: var(--secondary-color);
  font-family: var(--font-family);
}
/* hide js content before click */
#content-2,
#content-3 {
  display: none;
}
section h1,
section h3 {
  letter-spacing: 5px;
}
html {
  scroll-behavior: smooth;
  overflow-x: hidden;
  line-height: 1.15;
}

html::-webkit-scrollbar {
  width: 0.5rem;
  background-color: transparent;
}
html::-webkit-scrollbar-thumb {
  background-color: var(--secondary-color);
  border-radius: 20px;
}
.first-section .btn {
  background-color: var(--secondary-color);
  color: var(--main-text-color);
  transition: var(--transition);
  letter-spacing: 2px;
  border-radius: 10px 0;
  border: 2px solid var(--secondary-color) !important;
}
.first-section button:hover {
  background-color: transparent !important;
  color: var(--main-text-color);
  border-radius: 0 10px;
}
.first-section p {
  line-height: 1.6;
  padding: 10px;
}
.first-section .img-fluid {
  border-radius: 5%;
  transition: var(--transition);
}
.first-section .about-img:hover img {
  transform: scale(1.05);
}
.second-section {
  background-color: var(--secondary-bg-color);
}
.second-section .row {
  width: 90%;
}
p {
  color: var(--sec-text-color);
}
.row a {
  color: var(--secondary-color);
}
.row a:hover {
  color: var(--main-text-color);
}
.third-img {
  height: 550px;
}
.second-section .img-fluid {
  width: 20%;
}
.second-section .icon-div {
  box-shadow: 1px 1px 10px rgba(170, 147, 147, 0.589);
  border-radius: 10px;
}
footer {
  background-color: var(--black-color);
}
footer p {
  color: var(--main-text-color);
}
.fa-instagram {
  color: #f401c3;
}
footer .Copyright {
  border-top: 1px solid var(--main-text-color);
  width: 100%;
}
